In [1]:
import numpy as np
import pandas as pd

In [2]:
# Read the data
df = pd.read_csv("data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

### Question 1

What's the version of NumPy that you installed?

In [3]:
np.__version__

'1.21.5'

### Question 2

How many records are in the dataset?

Here you need to specify the number of rows.

In [4]:
df.shape[0]

11914

### Question 3

Who are the most frequent car manufacturers (top-3) according to the dataset?

In [10]:
df.groupby(['Make']).Popularity.sum().sort_values(ascending=False).head(3)

Make
Ford         4983817
Chevrolet    1555355
Toyota       1515126
Name: Popularity, dtype: int64

### Question 4

What's the number of unique Audi car models in the dataset?

In [6]:
audi_cars = df.loc[df.Make == 'Audi']

In [7]:
audi_cars.groupby(['Model']).size().sort_values(ascending=False).size

34

### Question 5

How many columns in the dataset have missing values?

In [8]:
df.isna().any()

Make                 False
Model                False
Year                 False
Engine Fuel Type      True
Engine HP             True
Engine Cylinders      True
Transmission Type    False
Driven_Wheels        False
Number of Doors       True
Market Category       True
Vehicle Size         False
Vehicle Style        False
highway MPG          False
city mpg             False
Popularity           False
MSRP                 False
dtype: bool

In [9]:
df[df.columns[df.isnull().any()]].columns

Index(['Engine Fuel Type', 'Engine HP', 'Engine Cylinders', 'Number of Doors',
       'Market Category'],
      dtype='object')

In [10]:
df.isnull().any().sum() 
# df[df.columns[df.isnull().any()]].columns.size

5

### Question 6
1. Find the median value of "Engine Cylinders" column in the dataset.
2. Next, calculate the most frequent value of the same "Engine Cylinders".
3. Use the `fillna` method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
4. Now, calculate the median value of "Engine Cylinders" once again.

Has it changed?

In [11]:
engine_median = df['Engine Cylinders'].median()
engine_median

6.0

In [12]:
engine_mode = df['Engine Cylinders'].mode()[0]
engine_mode

4.0

In [13]:
df['Engine Cylinders'] = df['Engine Cylinders'].fillna(engine_mode)
df['Engine Cylinders'].hasnans

False

In [14]:
df['Engine Cylinders'].median()

6.0

### Question 7

1. Select all the "Lotus" cars from the dataset.
2. Select only columns "Engine HP", "Engine Cylinders".
3. Now drop all duplicated rows using `drop_duplicates` method (you should get a dataframe with 9 rows).
4. Get the underlying NumPy array. Let's call it `X`.
5. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
6. Invert `XTX`.
7. Create an array `y` with values `[1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]`.
8. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
9. What's the value of the first element of `w`?

In [15]:

lotus_df = df.loc[df['Make'] == 'Lotus'][['Engine HP','Engine Cylinders']].drop_duplicates()
lotus_df

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [16]:
# Lotus Matrix (9,2)
X = np.array(lotus_df)
X

array([[189.,   4.],
       [218.,   4.],
       [217.,   4.],
       [350.,   8.],
       [400.,   6.],
       [276.,   6.],
       [345.,   6.],
       [257.,   4.],
       [240.,   4.]])

In [17]:
# Lotus Transpose Matrix (2,9)
Xt = X.T

In [18]:
# Matrix multiplication (2,2)
XTX = Xt.dot(X)

In [19]:
# Invert the Matrix multiplication (2,2)
XTX_inv = np.linalg.inv(XTX)

In [20]:
# Array
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [21]:
# Multiply the inverse of XTX with the transpose of X
XTX_XT = XTX_inv.dot(Xt)

# multiply the result by y
w = XTX_XT.dot(y)
w

array([  4.59494481, -63.56432501])